
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Ultra&display=swap');

body {
	padding-top: 60px;
	padding-bottom: 40px;
	
	
	background: linear-gradient(45deg, #d8c292, #5b5b5b, #b67171, #c19065);
	background-size: 300%, 300%;
	animation: colors 15s ease infinite;
}


.hero-unit{
	background-color:rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	box-shadow: black;
	border: 1px solid;
	
	box-shadow: 5px 10px rgba(7, 7, 7, 0.5);
}

.muted{
	color: black;
}

h1.nome {
	
	padding-bottom: 2rem;
	text-align: center;
	margin-top: 8px;
	color: #020202;
	font-weight: normal;
	font-family: 'Bungee', sans-serif;   
	font-size: 50px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}


hr {
	margin: 10px 0px 10px 0px;
}
a.btn {
	color: black;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	

}
p{
	font-weight: 300;
	color: black;
}
a.btn :hover{
	background: green;
}

table.collection tr:hover {
    cursor: pointer;
}

table.collection th:hover {
    cursor: pointer;
    opacity: 0.5;
}

.navbar{
	background: aqua;
}

.date-picker input
{
	width: 80px;
}

.date-picker i
{
	color: #999;
	margin-top: 2px;
	margin-left: -1px;
}

.bootstrap-timepicker-component input
{
	width: 70px;
}

.bootstrap-timepicker-component i
{
	color: #999;
	margin-top: 3px;
	margin-left: 0px;
}

.searchContainer input, searchContainer button
{
	margin-top: 8px;
}

.searchContainer input
{
	margin-top: 8px;
}

/* search filter button */
.input-append button.add-on {
    height: inherit !important;
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}

span.loader {
	margin: 0px;
	display: inline-block;
	width: 150px;
}

span.loader .bar {
	display: inline-block;
	width: 100%;
	height: 30px;
}

/* form controls */
span.help-inline {
	font-size: .9em;
	font-style: italic;
	padding-top: 5px;
	color: #999;
}

/* fixes spacing glitch with combo-box followed by an empty inline help */
span.help-inline:empty {
	display: none;
}

@keyframes colors {
0% {
 background-position: 0% 50%;
}
50% {
 background-position: 100% 50%;
}
100% {
 background-position: 0% 50%;
}
}